body {
    margin: 0;
    /* background-color: #1b1c1e; */
    align-items: center;
    display: block;
    background-color: #0b1725;
}

div {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* .background-grey {
    background-color: #2b2b2b;
} */

#navbar {
    background-color: #0c1c2e;
    /* border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: thin; */
    box-shadow: 0px 15px 8px #08111b;
    padding-bottom: 2em;
}

.container {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

.top-image {
    justify-content: center;
    display: flex;
}

.title-image {
    height: 100%;
    width: 100%;
}

.block {
    display: block;
}

.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-history {
    display: grid;
}

.grid-col-2-history {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-dir-col {
    flex-direction: column;
}

/* .border {
    border-color: whitesmoke;
    border-style: solid;
    border-width: thin;
} */

.font-whitesmoke {
    color: whitesmoke;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.display-none {
    display: none;
}

.pt-0 {
    padding-top: 10px;
}

.pt-1 {
    padding-top: 15px;
}

.mb-3 {
    margin-bottom: 10px;
}

.speed-title {
    display: flex;
    justify-content: center;
    /* border: black solid thin; */
    font-size: 4rem;
    font-weight: 700;
}

.speed-content {
    display: flex;
    justify-content: center;
    /* border: black solid thin; */
    font-size: 5rem;
}

.misc {
    padding-top: 0.5em;
}

.cyclo-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    /* border: black solid thin; */
}

.cyclo-content {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    /* border: black solid thin; */
}

.button-stopwatch {
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
    font-weight: 700;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

.button-stopwatch:hover {
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#button-start {
    border-color: #04da97;
    color: #04da97;
    background: #0b1725;
}

#button-stop {
    border-color: red;
    color: red;
    background: #0b1725;
}

#button-reset {
    border-color: #ffc400;
    color: #ffc400;
    background: #0b1725;
}

#button-save {
    border-color: rgb(85, 116, 255);
    color: rgb(85, 116, 255);
    background: #0b1725;
}

#button-start:hover {
    border-color: #04da97;
    color: #0b1725;
    background: #04da97;
}

#button-stop:hover {
    border-color: red;
    color: #0b1725;
    background: red;
}

#button-reset:hover {
    border-color: #ffc400;
    color: #0b1725;
    background: #ffc400;
}

#button-save:hover {
    border-color: rgb(85, 116, 255);
    color: #0b1725;
    background: rgb(85, 116, 255);
}
#button-start:active {
    border-color: #76d1b4;
    color: #0b1725;
    background: #76d1b4;
}

#button-stop:active {
    border-color: rgb(206, 96, 96);
    color: #0b1725;
    background: rgb(206, 96, 96);
}

#button-reset:active {
    border-color: #faf4e1;
    color: #0b1725;
    background: #faf4e1;
}

#button-save:active {
    border-color: rgb(168, 184, 253);
    color: #0b1725;
    background: rgb(168, 184, 253);
}

#history {
    margin: 2em;
}

.history-box {
    background-color: #0c1c2e;
    border-radius: 1em;
}

.history-title {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
}

.history-content-title {
    border-radius: 0.5em;
    padding: 13px;
    background-color: #142c47;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.5rem;
    box-shadow: 0px 10px 8px #08111b;
}

.history-content {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.5rem;
}

.history-content-box {
    padding-bottom: 30px;
}

.history-content-date {
    font-weight: 700;
}

#button-history-reset {
    border-color: whitesmoke;
    color: whitesmoke;
    background: #0b1725;
}

#button-history-reset:hover {
    border-color: whitesmoke;
    color: #0b1725;
    background: whitesmoke;
}

.field {
    position: relative;
    height: 52px;
    width: 100%;
    max-width: 100px;
    color: whitesmoke;
    overflow: hidden;
    font-size: 1.2em;
}

.field input {
    font-size: 18px;
    position: absolute;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    line-height: 52px;
    outline: 0;
    background-color: inherit;
    padding-top: 25px;
    border: none;
    box-sizing: border-box;
}

.field .label-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: inherit;
    left: 0;
    pointer-events: none;
    border-bottom: 1px solid whitesmoke;
}

.field .label-wrapper::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #FF9950;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.field .label-text {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.2s ease;
}

.field input:focus+.label-wrapper .label-text,
.field input:valid+.label-wrapper .label-text {
    font-size: 14px;
    color: #FF9950;
    transform: translateY(-130%);
    transition: transform 0.2s ease;
}

.field input:focus+.label-wrapper::after,
.field input:valid+.label-wrapper::after {
    transform: translateX(0%);
    transition: transform 0.2s ease;
}

.diameter-set-btn {
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
    border-style: solid;
    border-radius: 1em;
    border-color: #FF9950;
    color: #FF9950;
    background: #0b1725;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.diameter-set-btn:hover {
    border-color: FF9950;
    color: #0b1725;
    background: #FF9950;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.diameter-box {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 600;
}

.diameter-title {
    display: flex;
    justify-content: center;
    /* border: black solid thin; */
}

.diameter-content {
    margin-left: 10px;
}

@media screen and (max-width: 1250px) {
    .container {
        max-width: 50rem;
    }

    .title-image {
        height: 70%;
        width: 80%;
    }

    .history-title {
        font-size: 3rem;
    }

    .history-content-title {
        font-size: 1.2rem;
    }

    .history-content {
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 792px) {
    .container {
        max-width: 40rem;
    }

    .speed-title {
        font-size: 3rem;
    }

    .speed-content {
        font-size: 4rem;
    }

    .cyclo-title {
        font-size: 2rem;
    }

    .cyclo-content {
        font-size: 1.5rem;
    }

    .diameter-box {
        color: whitesmoke;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .grid-history {
        display: flex;
    }
    
    .grid-col-2-history {
        flex-direction: column;
    }

    .history-content-title{
        display: flex;
        flex-direction: column;
    }
    .history-content {
        font-size: 1rem;
        margin-right: 0;
    }
}

@media screen and (max-width: 570px) {
    .container {
        max-width: 25rem;
    }

    .speed-title {
        font-size: 2.5rem;
    }

    .speed-content {
        font-size: 3.5rem;
    }
    .cyclo-title {
        font-size: 1.5rem;
    }

    .cyclo-content {
        font-size: 1rem;
    }

    .button-stopwatch {
        border-radius: 20px;
        border-width: 5px;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        padding: 14px 6px;
        width: 180px;
        margin: 10px;
        outline: none;
    }
}

